
@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* body {
  @apply font-poppins bg-gradient-to-br from-pink-500 to-purple-700 text-white overflow-hidden;
} */
